@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Bebas+Neue&family=Dancing+Script&display=swap');

body{

    background-color: #B412FF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2370b7ff'/%3E%3Cstop offset='1' stop-color='%2370b7ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230917ff'/%3E%3Cstop offset='1' stop-color='%230917ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2366ffda'/%3E%3Cstop offset='1' stop-color='%2366ffda' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23B412FF'/%3E%3Cstop offset='1' stop-color='%23B412FF' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23CDFFDD'/%3E%3Cstop offset='1' stop-color='%23CDFFDD' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230CF'/%3E%3Cstop offset='1' stop-color='%230CF' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   2

}

.caixa{
    min-height: 200px;
    width: 340px;
    background-color: rgb(218, 246, 255);
    box-sizing: border-box;
    padding: 33px;
    border-radius:25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position:left; 
    
    
}


input{
  color:white;
  padding:17px;
  outline:none;
  font-size: 30px;
  font-family: 'Bebas Neue', cursive;
  border-radius: 25%;
}

.maincolor{
  background-color: black;
}

.num{
  width: 63px;
  height: 67px;
  padding: 2px;
}

.text{
  width: 160px;
  height: 26px;
  border-radius: 8px;
  letter-spacing: 5px;
  text-align: center;
  margin-bottom: 12px;
}

.text1{
  width: 24px;
  height: 26px;
  border-radius: 25px;
  letter-spacing: 5px;
  text-align: center;
  margin-bottom:12px;
  border-radius: 25%;
  cursor: pointer;
}

.main{
  display: inline-block;
}

.color{
  background-color:#B412FF
  ;
}

